.rodape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 0.8rem;
  background: var(--light-gray);
  color: var(--medium-gray);
  grid-area: footer;
}
