.tarefa {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.tarefa.concluida {
  background: var(--light-green);
  color: var(--dark-gray);
  transition: 0.2s;
}

.tarefa.concluida:hover {
  filter: brightness(0.9);
}

.tarefa.concluida span {
  text-decoration: line-through;
}

.tarefa button {
  background: var(--light-red);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.tarefa input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid var(--light-purple);
  outline: none;
  cursor: pointer;
}

.checkbox-wrapper input[type='checkbox']:disabled {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}

.checkbox-wrapper input[type='checkbox']:disabled + span {
  color: #c0c0c0;
}

.checkbox-wrapper input[type='checkbox']:focus {
  box-shadow: 0 0 20px var(--light-purple);
}

input:checked {
  background-color: var(--light-purple);
  position: relative;
}

input:checked::before {
  content: '\2714';
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 1px;
  top: -5px;
}

.tarefa button:hover {
  filter: brightness(0.9);
}

.tarefa button:active {
  filter: brightness(1.1);
}
